<div class="card">
    <div class="card-header">
        <h3 class="float-left">{{ event.name }}</h3>
        <button type="button" class="btn btn-outline-primary float-right" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Show
        </button>
    </div>
    <div [ngbCollapse]="isCollapsed">
        <div class="card-body">
            <p>{{ event.additional_info }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Time: {{ event.event_time }}</p>
            <p>Points: {{ event.points }}</p>
        </div>
        <div class="card-footer">
            <div *ngFor="let file of files">
                <app-file [file]="file"></app-file>
            </div>
        </div>
    </div>
</div>