<div (click)="toggleLogin()">Login</div>
<div *ngIf="visible" class="login-pop-up-root">
    <div class="login-pop-up-frame">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <span for="email">Email</span><input type="email" formControlName="email"/><br>
            <span for="password">Password</span><input type="password" formControlName="password"/><br>
            <br>
            <div class="center">
                <button class="button blue" type="submit">Login</button>
            </div>
        </form>
        <br>
        <p class="center"><a href="">Don't have an account?</a></p>
    </div>
</div>
<app-temp-alert alert_type="{{login_alert_type}}"></app-temp-alert>